<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/pure-min.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/style.css">

  {% block header %}
  {% endblock %}

</head>
<body>
  <header class="header">
      <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
          <li class="pure-menu-item"><h1>名作ライトノベル作品データベース<span class="borderbox">Beta</span></h1></li>
          <il class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a>
          </il><li class="pure-menu-item"><a href="/search" class="pure-menu-link">Search</a></li>
          <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
          <li class="pure-menu-item"><a href="/about#good-novel" class="pure-menu-link">名作ライトノベルの定義とは？</a></li>
      </ul>
     </div>
  </header>
  <main>

  {% block contents %}
  {% endblock %}

  </main>
  <footer>
      <br />
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
          <img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
      </a>
      <br />このページの書籍情報は<a href="http://ja.dbpedia.org/">DBpedia Japan</a>または<a href="https://ja.wikipedia.org/">Wikipedia 日本語版</a>から抽出したデータを使用しているため、 <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">クリエイティブ・コモンズ 表示 - 継承 3.0 非移植 ライセンス</a>の下に提供されます。
      <br />
      <a href="/">Back to Home</a>
      <p class="copyright"><small>&copy;2018 <a href="https://twitter.com/intent/user?user_id=3503112972">Studio 4単位/Eniehack</a> </small></p><br>
  </footer>
</body>
</html>