{% extends 'base_nocc.html' %}

{% block title %}
名作ライトノベル作品データベース - Home
{% endblock %}

{% block header %}
{% endblock%}

{% block contents %}

<h2 id="about">このサイトについて</h2>
このサイトはライトノベルのデータベースって無くね？と考えた作者の自己満足と作者の勉強用にと作られたサイトです。
開発にはPythonの<a href="http://flask.pocoo.org/">Flask</a>を使いました。

<h2 id="about-good-novel">このサイトのいう、名作ライトノベルの定義は？</h2>
名作ライトノベルとしてこのデータベースに登録されるための条件は、
<ol>
    <li>その作品の作者、または、読者の大半がこれはライトノベルだ、と主張しているもの、もしくは、その作品が刊行されているレーベルがライトノベルのレーベルであるとわかるもの。</li>
    <li>物語の一部または全てが映像化されている、もしくはされる予定のもの。</li>
    <li>根強く読者の支持を得ているもの。</li>
    <li>新人賞を除く、何らかの賞を受賞しているもの。</li>
</ol>
のうち、3つ以上を満たすものです。あとは作者の独断と偏見です。

{% endblock %}