{% extends 'base.html' %}

{% block title %}
作品詳細
{% endblock %}

{% block header %}
{% endblock%}

{% block contents %}
<h2>『{{ data[0] }}』の作品詳細</h2>

<p>作品名: 『{{ data[0] }}』</p>
<p>作者: <a href="../writer/{{ data[1] }}">{{ data[1] }}</a></p>
<p>イラストレータ: <a href="../illust/{{ data[2] }}">{{ data[2] }}</a></p>
<p>レーベル: <a href="../label/{{ data[3] }}">{{ data[3] }}</a></p>

{% if data[4] == 2 %}
    <p>この作品はすべてが映像化されました。</p>
{% elif data[4] == 1 %}
    <p>この作品は部分的に映像化されています。</p>
{% else %}
    <p>映像化されていません。</p>
{% endif %}

{% if data[5] == 2 %}
    <p>この作品はすべてがコミカライズされました。</p>
{% elif data[5] == 1 %}
    <p>この作品は部分的にコミカライズされています。</p>
{% else %}
    <p>この作品はコミカライズされていません。</p>
{% endif %}

{% if data[6] == 1 %}
    <p>このシリーズは完結しました。</p>
{% elif data %}
    <p>このシリーズは完結していません。</p>
{% endif %}

<p>一巻のISBNコード: {{ data[7] }}</p>
<p>ジャンル: <a href="../genre/{{ data[9] }}">{{ data[9] }}</a></p>
{% endblock %}